In [19]:
from data_generator import Data
from data_preprocessor import preprocess

In [20]:
# loading original dataset
df_orig = Data("financial1.csv",data_name='original')

# Adding Columns
df_orig.generate_columns()

In [ ]:
# Saving Data
df_orig.save_data("original_data.csv",index = False)

In [21]:
train, test = df_orig.split_data()

In [ ]:
test.to_csv('test_data.csv',index=False)

In [33]:
train[train['Is Fraud'] == 1] = 0

In [34]:
train[train['Is Fraud'] == 1]

Empty DataFrame
Columns: [Transaction Id, Date Time, Phone Number, CNIC, Name, Type, Amount, ID Source, Old Balance, New Balance, Source State, Source City, Device Name, IMEI, KYC Status, Service Charges, Channel, Remarks, ID Dest, Dest State, Dest City, Is Fraud]
Index: []

[0 rows x 22 columns]

In [35]:
df_train = Data(data_name = 'train')
df_train.replace_data(train)

In [36]:
df_fraud = Data(data_name='fraud')

# adding rows
df_fraud.add_fraud_rows(200000)

In [ ]:
# saving fraud data
df_fraud.save_data("fraud_data.csv",index = False)

In [37]:
# concating original and fraud data to generate final data
df_train.concat_data(df_fraud.get())

In [38]:
df = df_train.get()
df[df['Is Fraud'] == 1]

,Transaction Id,Date Time,Phone Number,CNIC,Name,Type,Amount,ID Source,Old Balance,New Balance,...,Device Name,IMEI,KYC Status,Service Charges,Channel,Remarks,ID Dest,Dest State,Dest City,Is Fraud
23,1656718319,2023-10-27 08:47:42,+92 303-3433868,86347-7107009-5,Ahmed Siddiqui,CASH_OUT,1620348.59,C384516094,1620348.59,0.00,...,iPhone 13,363313962102949,Under Process,3240.69718,Credit Card,,C1389037595,Khyber Pakhtunkhwa,Charsadda,1
41,2545743073,2022-02-24 23:47:35,+92 330-1059020,58227-4155867-4,Nida Rizvi,CASH_OUT,1125174.71,C1638906482,1125174.71,0.00,...,Samsung Galaxy S21,654734640056851,On-Hold,2250.34942,Bank Transfer,Payment for groceries,C550035865,Sindh,Dadu,1
46,8102545803,2023-03-25 03:11:31,+92 326-2080964,70000-1359003-7,Bilal Khan,TRANSFER,1245247.05,C155117849,1245247.05,0.00,...,iPhone 13,603150366022259,On-Hold,2490.49410,Mobile Payments,Entertainment purchase,C1837424773,Punjab,Dera Ghazi Khan,1
47,4587628389,2019-11-06 22:21:14,+92 322-9399863,13746-4896659-2,Raheel Iqbal,TRANSFER,1676687.91,C963443758,1676687.91,0.00,...,Samsung Galaxy S21,852867895305984,On-Hold,3353.37582,Debit Card,Utility bill payment,C759637554,Sindh,Hyderabad,1
85,2596539478,2020-12-16 05:50:37,+92 349-9593179,19562-6524174-0,Muneeb Jamil,TRANSFER,1621247.86,C1307035989,1621247.86,0.00,...,Google Pixel 6,760180161284623,Under Process,3242.49572,Credit Card,,C1614018559,Punjab,Rahim Yar Khan,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4653745,4056046495,2021-08-14 19:51:43,+92 347-0769198,62752-4437506-1,Rida Bhatti,TRANSFER,1632906.63,C898563800,1632906.63,0.00,...,Samsung Galaxy S21,169919333744072,On-Hold,3265.81326,Debit Card,Entertainment purchase,C192746137,Sindh,Jacobabad,1
4653754,4555829778,2023-12-04 06:57:48,+92 349-4875539,27148-3415374-8,Muneeb Khalid,TRANSFER,1372904.00,C1942909042,1417176.68,44272.68,...,OnePlus 9,447427453893269,Validated,2745.80800,Credit Card,Restaurant bill,C650761957,Sindh,Nawabshah,1
4653771,0980417967,2025-06-24 13:13:50,+92 304-1225651,38458-5384750-9,Ali Butt,CASH_OUT,778949.13,C146139388,778949.13,0.00,...,OnePlus 9,112975280506181,Validated,1557.89826,E-Wallet,,C1608911449,Balochistan,Quetta,1
4653787,7273738028,2019-12-11 21:01:59,+92 350-9455512,51632-4780128-4,Ali Chaudhry,TRANSFER,588376.92,C897408862,588376.92,0.00,...,Samsung Galaxy S21,255665944887398,Validated,1176.75384,E-Wallet,Online gaming purchase,C356058536,Gilgit-Baltistan,Skardu,1
4653823,0888409230,2022-01-22 11:20:19,+92 326-6311998,16895-8272112-0,Rida Siddiqui,TRANSFER,1617972.25,C243696583,1617972.25,0.00,...,OnePlus 9,315646219960220,Registered,3235.94450,Mobile Payments,Cash withdrawal,C1398331416,Islamabad Capital Territory,Islamabad,1

In [39]:
df_train.save_data("train_data.csv")