In [4]:
import pandas as pd
import random
import string
from datetime import datetime, timedelta

In [ ]:
df = pd.read_csv("financial1.csv")

In [6]:
df

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.00,C776919290,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.00,C1881841831,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.00,C1365125890,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.00,C2080388513,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.00,C873221189,6510099.11,7360101.63,1,0

In [7]:
df = df.drop(['step','oldbalanceDest',	'newbalanceDest' ,'isFlaggedFraud'],axis = 1)

In [8]:
df

,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,isFraud
0,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0
1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0
2,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,1
3,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,1
4,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0
...,...,...,...,...,...,...,...
6362615,CASH_OUT,339682.13,C786484425,339682.13,0.00,C776919290,1
6362616,TRANSFER,6311409.28,C1529008245,6311409.28,0.00,C1881841831,1
6362617,CASH_OUT,6311409.28,C1162922333,6311409.28,0.00,C1365125890,1
6362618,TRANSFER,850002.52,C1685995037,850002.52,0.00,C2080388513,1
6362619,CASH_OUT,850002.52,C1280323807,850002.52,0.00,C873221189,1

In [9]:
df.rename(columns={
    'type': 'Type',
    'amount': 'Amount',
    'nameOrig': 'ID Source',
    'oldbalanceOrg': 'Old Balance',
    'newbalanceOrig': 'New Balance',
    'nameDest': 'ID Dest',
    'isFraud': 'Is Fraud'
}, inplace=True)

# Preview the updated DataFrame with renamed columns
print(df.head())

       Type    Amount    ID Source  Old Balance  New Balance      ID Dest  \
0   PAYMENT   9839.64  C1231006815     170136.0    160296.36  M1979787155
1   PAYMENT   1864.28  C1666544295      21249.0     19384.72  M2044282225
2  TRANSFER    181.00  C1305486145        181.0         0.00   C553264065
3  CASH_OUT    181.00   C840083671        181.0         0.00    C38997010
4   PAYMENT  11668.14  C2048537720      41554.0     29885.86  M1230701703

   Is Fraud
0         0
1         0
2         1
3         1
4         0

In [10]:
# Number of synthetic timestamps
num_rows = len(df) 

# Function to generate a random datetime between 2019 and 2025
def random_datetime():
    year = random.randint(2019, 2025)
    month = random.randint(1, 12)
    day = random.randint(1, 28)  # To avoid invalid days in February
    hour = random.randint(0, 23)
    minute = random.randint(0, 59)
    second = random.randint(0, 59)
    return datetime(year, month, day, hour, minute, second)

# Generate timestamps
timestamps = []

current_time = random_datetime()
timestamps.append(current_time)

for _ in range(num_rows - 1):
    gap = random.randint(1, 10)  # Random gap in seconds
    current_time += timedelta(seconds=gap)
    
    # With a small chance, jump to a completely new random date
    if random.random() < 0.1:  # 10% chance to reset to new random date
        current_time = random_datetime()
    
    timestamps.append(current_time)

# Convert to string format
timestamp_strings = [ts.strftime('%Y-%m-%d %H:%M:%S') for ts in timestamps]

# Preview
for ts in timestamp_strings[:10]:
    print(ts)

2024-01-10 00:00:32
2024-01-10 00:00:39
2024-01-10 00:00:43
2019-10-21 05:47:52
2019-10-21 05:47:55
2019-10-21 05:47:58
2019-10-21 05:47:59
2019-10-21 05:48:08
2019-10-21 05:48:16
2019-10-21 05:48:24

In [11]:
df['Date Time'] = timestamp_strings

In [12]:
pakistan_city_state = {
    'Punjab': [
        'Lahore', 'Rawalpindi', 'Multan', 'Faisalabad', 'Sialkot', 'Gujranwala',
        'Bahawalpur', 'Dera Ghazi Khan', 'Rahim Yar Khan', 'Sargodha', 'Sheikhupura', 'Okara', 'Jhelum'
    ],
    'Sindh': [
        'Karachi', 'Hyderabad', 'Sukkur', 'Larkana', 'Nawabshah', 'Mirpur Khas', 'Thatta', 'Dadu', 'Jacobabad'
    ],
    'Khyber Pakhtunkhwa': [
        'Peshawar', 'Abbottabad', 'Swat', 'Mardan', 'Kohat', 'Bannu', 'Dera Ismail Khan', 'Charsadda', 'Nowshera'
    ],
    'Balochistan': [
        'Quetta', 'Gwadar', 'Khuzdar', 'Turbat', 'Sibi', 'Zhob', 'Loralai', 'Chaman', 'Dera Bugti'
    ],
    'Islamabad Capital Territory': [
        'Islamabad'
    ],
    'Gilgit-Baltistan': [
        'Gilgit', 'Skardu', 'Hunza', 'Ghanche', 'Astore'
    ],
    'Azad Kashmir': [
        'Muzaffarabad', 'Mirpur', 'Rawalakot', 'Kotli', 'Bagh'
    ]
}

In [13]:
#df = df.drop(['state','city'],axis =1)

In [14]:
cities = []
states = []

for _ in range(num_rows):
    state = random.choice(list(pakistan_city_state.keys()))
    city = random.choice(pakistan_city_state[state])
    states.append(state)
    cities.append(city)

# Add to your existing DataFrame
df['State Source'] = states
df['City Source'] = cities

In [15]:
cities = []
states = []

for _ in range(num_rows):
    state = random.choice(list(pakistan_city_state.keys()))
    city = random.choice(pakistan_city_state[state])
    states.append(state)
    cities.append(city)

# Add to your existing DataFrame
df['State Dest'] = states
df['City Dest'] = cities

In [16]:
def generate_transaction_id(existing_ids):
    while True:
        transaction_id = ''.join(random.choices(string.digits, k=10))
        if transaction_id not in existing_ids:
            existing_ids.add(transaction_id)
            return transaction_id


# Set to track already used transaction IDs
used_ids = set()

# Generate unique transaction IDs
transaction_ids = [generate_transaction_id(used_ids) for _ in range(num_rows)]

# Add the 'transaction_id' column to the existing DataFrame
df['Transaction Id'] = transaction_ids

In [17]:
def generate_device_name():
    device_number = random.randint(1, 10)  # Random device number (1 to 10)
    return f"Device {device_number}"

# Option 2: Common Device Models (e.g., iPhone, Samsung Galaxy, etc.)
device_models = ['iPhone 13', 'Samsung Galaxy S21', 'OnePlus 9', 'Google Pixel 6', 'Xiaomi Mi 11']

def generate_device_model():
    return random.choice(device_models)  # Choose a random device model

# Choose between Option 1 and Option 2
use_generic_device_names = False  # Set to False to use Option 2

# Generate synthetic device names for each row in the DataFrame
device_names = []

for _ in range(num_rows):  # Assuming your DataFrame is 'df'
    if use_generic_device_names:
        device_names.append(generate_device_name())  # Option 1: "Device 1", "Device 2", etc.
    else:
        device_names.append(generate_device_model())  # Option 2: iPhone 13, Samsung Galaxy, etc.

# Add the 'device_name' column to the DataFrame
df['Device Name'] = device_names

In [18]:
def generate_imei():
    imei_body = ''.join(random.choices('0123456789', k=14))  # Generate first 14 digits
    imei_check_digit = luhn_check_digit(imei_body)  # Calculate check digit
    return imei_body + str(imei_check_digit)

# Luhn Algorithm to calculate check digit
def luhn_check_digit(imei_body):
    total = 0
    reversed_digits = imei_body[::-1]
    
    for i, digit in enumerate(reversed_digits):
        n = int(digit)
        if i % 2 == 1:
            n *= 2
            if n > 9:
                n -= 9
        total += n
    
    check_digit = (10 - (total % 10)) % 10
    return check_digit

# Generate synthetic IMEIs for each row in the DataFrame
imeis_list = []

for _ in range(num_rows):  # Loop over each user (row)
    # Generate a single IMEI for each row (user)
    imei = generate_imei()
    imeis_list.append(imei)

# Add the IMEI column with one IMEI per user
df['IMEI'] = imeis_list

In [19]:
def generate_phone_number():
    # Pakistan country code: +92
    country_code = "+92"
    
    # Generate the first 3 digits (between 300 and 350)
    first_three = random.randint(300, 350)
    
    # Generate the rest of the phone number (7 digits)
    phone_number = ''.join(random.choices('0123456789', k=7))
    
    # Combine the country code and the phone number
    full_phone_number = f"{country_code} {first_three}-{phone_number[:4]}{phone_number[4:]}"
    return full_phone_number

# Generate a random phone number for each row in the DataFrame
phone_numbers = [generate_phone_number() for _ in range(num_rows)]

# Add the 'phone_number' column to the DataFrame
df['Phone Number'] = phone_numbers

In [20]:
def generate_cnic():
    first_part = random.randint(10000, 99999)  # 5 digits
    second_part = random.randint(1000000, 9999999)  # 7 digits
    last_digit = random.randint(0, 9)  # 1 digit
    return f"{first_part}-{second_part}-{last_digit}"

# List of sample names for generating random names
first_names = ['Ahmed', 'Ali', 'Hassan', 'Imran', 'Zain', 'Sara', 'Ayesha', 'Fatima', 'Nida', 'Usman', 
               'Bilal', 'Khalid', 'Raheel', 'Sana', 'Muneeb', 'Nashit', 'Samina', 'Fariha', 'Maira', 'Rida']

last_names = ['Khan', 'Ahmed', 'Ali', 'Shah', 'Qureshi', 'Rana', 'Bhatti', 'Javed', 'Iqbal', 'Siddiqui',
              'Butt', 'Khalid', 'Hashmi', 'Mirza', 'Mughal', 'Anwar', 'Jamil', 'Farooq', 'Rizvi', 'Chaudhry']


# Function to generate a random name
def generate_name():
    first_name = random.choice(first_names)
    last_name = random.choice(last_names)
    return f"{first_name} {last_name}"

# Generate CNIC and Name for each row in the DataFrame
cnic_list = [generate_cnic() for _ in range(num_rows)]
name_list = [generate_name() for _ in range(num_rows)]

# Add the CNIC and Name columns to the DataFrame
df['CNIC'] = cnic_list
df['Name'] = name_list

In [21]:
kyc_status_options = ["Validated", "Registered", "On-Hold", "Under Process"]

# Function to generate random KYC status
def generate_kyc_status():
    return random.choice(kyc_status_options)

# Generate random KYC status for each row in the DataFrame
kyc_status_list = [generate_kyc_status() for _ in range(num_rows)]

# Add the 'KYC status' column to the DataFrame
df['KYC Status'] = kyc_status_list

In [22]:
def calculate_service_charge(amount):
    return amount * 0.002  # 2% service charge

df['Service Charges'] = df['Amount'].apply(calculate_service_charge)

In [23]:
channel_options = [
    "Bank Transfer", 
    "Credit Card", 
    "Debit Card", 
    "E-Wallet", 
    "Mobile Payments"
]

def generate_channel():
    return random.choice(channel_options)

df['Channel'] = [generate_channel() for _ in range(num_rows)]

In [24]:
narrations = [
    "Food purchase",
    "Payment for services",
    "Online shopping",
    "Mobile recharge",
    "Payment for groceries",
    "Restaurant bill",
    "Travel ticket booking",
    "Utility bill payment",
    "Subscription fee",
    "Entertainment purchase",
    "Charity donation",
    "Cash withdrawal",
    "Online gaming purchase"
]

# Function to randomly assign narration or leave it empty
def generate_narration():
    if random.random() < 0.5:  # 80% chance to have a narration
        return random.choice(narrations)
    else:
        return ""  # 20% chance to leave it empty

# Add the 'Narration/Remarks' column to the DataFrame
df['Remarks'] = [generate_narration() for _ in range(num_rows)]

In [25]:
df

,Type,Amount,ID Source,Old Balance,New Balance,ID Dest,Is Fraud,Date Time,State Source,City Source,...,Transaction Id,Device Name,IMEI,Phone Number,CNIC,Name,KYC Status,Service Charges,Channel,Remarks
0,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0,2024-01-10 00:00:32,Azad Kashmir,Kotli,...,2325470051,Xiaomi Mi 11,044411858565857,+92 313-8026592,73012-3992608-8,Fariha Rana,On-Hold,19.67928,Credit Card,
1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0,2024-01-10 00:00:39,Azad Kashmir,Bagh,...,3824835576,iPhone 13,826450771187914,+92 319-7095991,10729-1077950-3,Ali Khan,Registered,3.72856,Bank Transfer,Mobile recharge
2,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,1,2024-01-10 00:00:43,Sindh,Thatta,...,8274824256,OnePlus 9,941610250811953,+92 334-4958551,96314-5032731-0,Maira Javed,Validated,0.36200,Mobile Payments,Payment for groceries
3,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,1,2019-10-21 05:47:52,Punjab,Okara,...,6055683879,OnePlus 9,052286958511926,+92 339-9773859,10276-6944237-5,Ali Mirza,On-Hold,0.36200,Credit Card,
4,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0,2019-10-21 05:47:55,Khyber Pakhtunkhwa,Kohat,...,3981121210,iPhone 13,971425695893177,+92 350-5302280,15370-6736821-6,Rida Anwar,Under Process,23.33628,Credit Card,Entertainment purchase
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6362615,CASH_OUT,339682.13,C786484425,339682.13,0.00,C776919290,1,2020-08-27 14:29:34,Azad Kashmir,Kotli,...,8290472271,Xiaomi Mi 11,745956166699544,+92 330-7450911,50267-3240144-3,Nashit Iqbal,Registered,679.36426,Debit Card,Online gaming purchase
6362616,TRANSFER,6311409.28,C1529008245,6311409.28,0.00,C1881841831,1,2020-08-27 14:29:36,Balochistan,Loralai,...,1919406585,Samsung Galaxy S21,037240314848209,+92 328-3773027,75315-8958228-1,Nashit Jamil,Registered,12622.81856,Mobile Payments,Food purchase
6362617,CASH_OUT,6311409.28,C1162922333,6311409.28,0.00,C1365125890,1,2020-08-27 14:29:40,Balochistan,Gwadar,...,7925220920,iPhone 13,298456864894061,+92 339-4026211,55107-5439810-0,Fatima Rana,Registered,12622.81856,Mobile Payments,
6362618,TRANSFER,850002.52,C1685995037,850002.52,0.00,C2080388513,1,2020-08-27 14:29:46,Punjab,Faisalabad,...,5130229868,Google Pixel 6,429437495196484,+92 315-3464869,29658-1550385-0,Imran Anwar,Registered,1700.00504,Mobile Payments,
6362619,CASH_OUT,850002.52,C1280323807,850002.52,0.00,C873221189,1,2020-08-27 14:29:54,Azad Kashmir,Mirpur,...,0005886746,Google Pixel 6,117810618362860,+92 341-6199032,87244-1780904-4,Khalid Ali,Validated,1700.00504,Debit Card,

In [26]:
df.columns

Index(['Type', 'Amount', 'ID Source', 'Old Balance', 'New Balance', 'ID Dest',
       'Is Fraud', 'Date Time', 'State Source', 'City Source', 'State Dest',
       'City Dest', 'Transaction Id', 'Device Name', 'IMEI', 'Phone Number',
       'CNIC', 'Name', 'KYC Status', 'Service Charges', 'Channel', 'Remarks'],
      dtype='object')

In [27]:
new_column_order = ['Transaction Id', 'Date Time', 'Phone Number', 'CNIC', 'Name','Type', 'Amount', 'ID Source', 'Old Balance', 'New Balance',
         'State Source', 'City Source', 
       'Device Name', 'IMEI',  'KYC Status',
       'Service Charges', 'Channel', 'Remarks' , 'ID Dest', 'State Dest', 'City Dest', 'Is Fraud']

# Reorder the columns
df = df[new_column_order]

In [28]:
df

,Transaction Id,Date Time,Phone Number,CNIC,Name,Type,Amount,ID Source,Old Balance,New Balance,...,Device Name,IMEI,KYC Status,Service Charges,Channel,Remarks,ID Dest,State Dest,City Dest,Is Fraud
0,2325470051,2024-01-10 00:00:32,+92 313-8026592,73012-3992608-8,Fariha Rana,PAYMENT,9839.64,C1231006815,170136.00,160296.36,...,Xiaomi Mi 11,044411858565857,On-Hold,19.67928,Credit Card,,M1979787155,Khyber Pakhtunkhwa,Dera Ismail Khan,0
1,3824835576,2024-01-10 00:00:39,+92 319-7095991,10729-1077950-3,Ali Khan,PAYMENT,1864.28,C1666544295,21249.00,19384.72,...,iPhone 13,826450771187914,Registered,3.72856,Bank Transfer,Mobile recharge,M2044282225,Islamabad Capital Territory,Islamabad,0
2,8274824256,2024-01-10 00:00:43,+92 334-4958551,96314-5032731-0,Maira Javed,TRANSFER,181.00,C1305486145,181.00,0.00,...,OnePlus 9,941610250811953,Validated,0.36200,Mobile Payments,Payment for groceries,C553264065,Islamabad Capital Territory,Islamabad,1
3,6055683879,2019-10-21 05:47:52,+92 339-9773859,10276-6944237-5,Ali Mirza,CASH_OUT,181.00,C840083671,181.00,0.00,...,OnePlus 9,052286958511926,On-Hold,0.36200,Credit Card,,C38997010,Punjab,Faisalabad,1
4,3981121210,2019-10-21 05:47:55,+92 350-5302280,15370-6736821-6,Rida Anwar,PAYMENT,11668.14,C2048537720,41554.00,29885.86,...,iPhone 13,971425695893177,Under Process,23.33628,Credit Card,Entertainment purchase,M1230701703,Gilgit-Baltistan,Hunza,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6362615,8290472271,2020-08-27 14:29:34,+92 330-7450911,50267-3240144-3,Nashit Iqbal,CASH_OUT,339682.13,C786484425,339682.13,0.00,...,Xiaomi Mi 11,745956166699544,Registered,679.36426,Debit Card,Online gaming purchase,C776919290,Balochistan,Dera Bugti,1
6362616,1919406585,2020-08-27 14:29:36,+92 328-3773027,75315-8958228-1,Nashit Jamil,TRANSFER,6311409.28,C1529008245,6311409.28,0.00,...,Samsung Galaxy S21,037240314848209,Registered,12622.81856,Mobile Payments,Food purchase,C1881841831,Sindh,Hyderabad,1
6362617,7925220920,2020-08-27 14:29:40,+92 339-4026211,55107-5439810-0,Fatima Rana,CASH_OUT,6311409.28,C1162922333,6311409.28,0.00,...,iPhone 13,298456864894061,Registered,12622.81856,Mobile Payments,,C1365125890,Khyber Pakhtunkhwa,Charsadda,1
6362618,5130229868,2020-08-27 14:29:46,+92 315-3464869,29658-1550385-0,Imran Anwar,TRANSFER,850002.52,C1685995037,850002.52,0.00,...,Google Pixel 6,429437495196484,Registered,1700.00504,Mobile Payments,,C2080388513,Islamabad Capital Territory,Islamabad,1
6362619,0005886746,2020-08-27 14:29:54,+92 341-6199032,87244-1780904-4,Khalid Ali,CASH_OUT,850002.52,C1280323807,850002.52,0.00,...,Google Pixel 6,117810618362860,Validated,1700.00504,Debit Card,,C873221189,Khyber Pakhtunkhwa,Peshawar,1

In [29]:
df.to_csv('SyntheticTransactions.csv', index = False)

In [30]:
synthtrans = pd.read_csv('SyntheticTransactions.csv')

In [31]:
synthtrans

,Transaction Id,Date Time,Phone Number,CNIC,Name,Type,Amount,ID Source,Old Balance,New Balance,...,Device Name,IMEI,KYC Status,Service Charges,Channel,Remarks,ID Dest,State Dest,City Dest,Is Fraud
0,6699593125,2023-04-18 04:07:55,+92 323-1836963,61873-2834610-4,Samina Farooq,PAYMENT,9839.64,C1231006815,170136.00,160296.36,...,Google Pixel 6,320933958297372,On-Hold,19.67928,E-Wallet,Utility bill payment,M1979787155,Islamabad Capital Territory,Islamabad,0
1,3200461741,2023-04-18 04:08:03,+92 332-3928932,89861-4670708-4,Ali Rizvi,PAYMENT,1864.28,C1666544295,21249.00,19384.72,...,iPhone 13,421760944016688,On-Hold,3.72856,Credit Card,NaN,M2044282225,Khyber Pakhtunkhwa,Mardan,0
2,7142555242,2023-04-18 04:08:04,+92 343-3031954,89301-4552448-6,Maira Hashmi,TRANSFER,181.00,C1305486145,181.00,0.00,...,Samsung Galaxy S21,797350900334041,Validated,0.36200,E-Wallet,NaN,C553264065,Balochistan,Gwadar,1
3,7865722286,2023-04-18 04:08:06,+92 335-0328852,13859-7529881-1,Nashit Khalid,CASH_OUT,181.00,C840083671,181.00,0.00,...,Xiaomi Mi 11,69289954895423,Validated,0.36200,E-Wallet,NaN,C38997010,Sindh,Dadu,1
4,1822089452,2023-04-18 04:08:08,+92 331-4662582,47897-4314919-3,Fariha Khan,PAYMENT,11668.14,C2048537720,41554.00,29885.86,...,iPhone 13,789727178566073,On-Hold,23.33628,Credit Card,NaN,M1230701703,Balochistan,Gwadar,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6362615,4629471322,2019-11-10 17:22:20,+92 301-5252020,20399-8293627-4,Khalid Mughal,CASH_OUT,339682.13,C786484425,339682.13,0.00,...,Xiaomi Mi 11,652267610739411,Under Process,679.36426,Bank Transfer,Subscription fee,C776919290,Sindh,Mirpur Khas,1
6362616,9429859617,2019-11-10 17:22:22,+92 312-2069217,58807-4315419-3,Raheel Javed,TRANSFER,6311409.28,C1529008245,6311409.28,0.00,...,iPhone 13,892935759922505,Under Process,12622.81856,Bank Transfer,NaN,C1881841831,Islamabad Capital Territory,Islamabad,1
6362617,9988702453,2019-11-10 17:22:31,+92 308-7094499,96057-9551413-5,Khalid Khalid,CASH_OUT,6311409.28,C1162922333,6311409.28,0.00,...,Xiaomi Mi 11,522859840830607,Validated,12622.81856,Bank Transfer,NaN,C1365125890,Balochistan,Zhob,1
6362618,293219711,2019-11-10 17:22:32,+92 328-2647495,73372-4619999-4,Nashit Hashmi,TRANSFER,850002.52,C1685995037,850002.52,0.00,...,OnePlus 9,38504013979519,Under Process,1700.00504,Bank Transfer,Travel ticket booking,C2080388513,Punjab,Faisalabad,1
6362619,3901960338,2019-11-10 17:22:41,+92 336-8379066,96635-4790159-0,Usman Mirza,CASH_OUT,850002.52,C1280323807,850002.52,0.00,...,Samsung Galaxy S21,592031358206511,Validated,1700.00504,Mobile Payments,Cash withdrawal,C873221189,Balochistan,Quetta,1

In [48]:
df_half = synthtrans.sample(frac=0.5, random_state=42)  # frac=0.5 selects 50% of the data


# Preview the first few rows of the new DataFrames
print("First half of the dataset:")
print(df_half.head())

First half of the dataset:
         Transaction Id            Date Time     Phone Number  \
3737323      7485374720  2023-12-19 02:26:26  +92 328-2478579
264914       9507635748  2025-10-25 18:45:10  +92 348-0049764
85647        9363645372  2024-12-19 03:00:19  +92 310-4271889
5899326      7365664905  2021-07-12 00:29:02  +92 335-9848409
2544263      4435176139  2023-08-15 17:58:11  +92 316-0844418

                    CNIC           Name      Type      Amount    ID Source  \
3737323  82739-5548264-7  Sana Chaudhry   CASH_IN   330218.42   C632336343
264914   12649-1093897-4    Imran Rizvi   PAYMENT    11647.08  C1264712553
85647    42780-7835286-8  Fatima Bhatti   CASH_IN   152264.21  C1746846248
5899326  31960-6091007-1    Muneeb Rana  TRANSFER  1551760.63   C333676753
2544263  49780-6381165-4      Sana Khan   CASH_IN    78172.30   C813403091

         Old Balance  New Balance  ...         Device Name             IMEI  \
3737323     20866.00    351084.42  ...        Xiaomi Mi 11  648277242097727
264914      30370.00     18722.92  ...        Xiaomi Mi 11  411518125214270
85647      106589.00    258853.21  ...        Xiaomi Mi 11  477868038465964
5899326         0.00         0.00  ...           OnePlus 9  133450451114388
2544263   2921331.58   2999503.88  ...  Samsung Galaxy S21  282195928077009

            KYC Status  Service Charges          Channel          Remarks  \
3737323        On-Hold        660.43684  Mobile Payments              NaN
264914       Validated         23.29416       Debit Card  Cash withdrawal
85647       Registered        304.52842      Credit Card              NaN
5899326  Under Process       3103.52126  Mobile Payments              NaN
2544263     Registered        156.34460       Debit Card  Mobile recharge

             ID Dest                   State Dest    City Dest Is Fraud
3737323   C834976624  Islamabad Capital Territory    Islamabad        0
264914    M215391829                       Punjab  Sheikhupura        0
85647    C1607284477             Gilgit-Baltistan       Astore        0
5899326  C1564353608             Gilgit-Baltistan       Gilgit        0
2544263  C1091768874                 Azad Kashmir       Mirpur        0

[5 rows x 22 columns]

In [49]:
df_half.to_csv('SyntheticTransactions_half.csv')

In [51]:
df_half

,Transaction Id,Date Time,Phone Number,CNIC,Name,Type,Amount,ID Source,Old Balance,New Balance,...,Device Name,IMEI,KYC Status,Service Charges,Channel,Remarks,ID Dest,State Dest,City Dest,Is Fraud
3737323,7485374720,2023-12-19 02:26:26,+92 328-2478579,82739-5548264-7,Sana Chaudhry,CASH_IN,330218.42,C632336343,20866.00,351084.42,...,Xiaomi Mi 11,648277242097727,On-Hold,660.43684,Mobile Payments,NaN,C834976624,Islamabad Capital Territory,Islamabad,0
264914,9507635748,2025-10-25 18:45:10,+92 348-0049764,12649-1093897-4,Imran Rizvi,PAYMENT,11647.08,C1264712553,30370.00,18722.92,...,Xiaomi Mi 11,411518125214270,Validated,23.29416,Debit Card,Cash withdrawal,M215391829,Punjab,Sheikhupura,0
85647,9363645372,2024-12-19 03:00:19,+92 310-4271889,42780-7835286-8,Fatima Bhatti,CASH_IN,152264.21,C1746846248,106589.00,258853.21,...,Xiaomi Mi 11,477868038465964,Registered,304.52842,Credit Card,NaN,C1607284477,Gilgit-Baltistan,Astore,0
5899326,7365664905,2021-07-12 00:29:02,+92 335-9848409,31960-6091007-1,Muneeb Rana,TRANSFER,1551760.63,C333676753,0.00,0.00,...,OnePlus 9,133450451114388,Under Process,3103.52126,Mobile Payments,NaN,C1564353608,Gilgit-Baltistan,Gilgit,0
2544263,4435176139,2023-08-15 17:58:11,+92 316-0844418,49780-6381165-4,Sana Khan,CASH_IN,78172.30,C813403091,2921331.58,2999503.88,...,Samsung Galaxy S21,282195928077009,Registered,156.34460,Debit Card,Mobile recharge,C1091768874,Azad Kashmir,Mirpur,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1294097,9777175331,2020-08-04 11:18:54,+92 346-5637382,69108-2173046-5,Zain Iqbal,CASH_OUT,175806.95,C332460427,0.00,0.00,...,Xiaomi Mi 11,638331640026527,Registered,351.61390,Debit Card,NaN,C986764856,Islamabad Capital Territory,Islamabad,0
4643085,8680792925,2021-05-08 18:09:20,+92 313-3699067,78678-2057035-0,Fariha Shah,CASH_IN,98814.03,C2037037589,12250700.49,12349514.52,...,OnePlus 9,278413654055537,Under Process,197.62806,Credit Card,NaN,C1304631893,Balochistan,Zhob,0
5895287,4761985464,2023-09-02 17:33:05,+92 303-0034756,69798-8299344-5,Raheel Qureshi,CASH_OUT,147858.07,C744674819,0.00,0.00,...,iPhone 13,706997920237396,Under Process,295.71614,Debit Card,NaN,C178235224,Balochistan,Khuzdar,0
2340786,4232394487,2022-03-08 10:07:17,+92 323-4671690,15730-7271624-9,Bilal Chaudhry,PAYMENT,8618.97,C1133932591,20710.00,12091.03,...,Google Pixel 6,72159734238729,On-Hold,17.23794,E-Wallet,Restaurant bill,M296321459,Gilgit-Baltistan,Ghanche,0
1371779,9558501378,2020-05-12 20:16:30,+92 301-5322222,50241-9110255-8,Sana Rana,PAYMENT,6890.02,C2092030405,0.00,0.00,...,iPhone 13,192791240288959,On-Hold,13.78004,E-Wallet,NaN,M1214721175,Azad Kashmir,Muzaffarabad,0